---
---

<section>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="h-56 overflow-hidden rounded-lg">
      <img
        src="/snowboarding.PNG"
        alt=""
        class="w-full h-full object-cover" style="object-position: 40% 56%"
      />
    </div>
    <div class="h-56 overflow-hidden rounded-lg">
      <img
        src="/climbing.JPG"
        alt=""
        class="w-full h-full object-cover" style="object-position: 40% 65%"
      />
    </div>
  </div>
</section>
